<h2 class="section-title">{{ .titles.about }}</h2>
<div class="grid-container">
<div>

    <p itemprop="description">
        Sabato 21 Ottobre 2023 gli IT Professional, gli Sviluppatori ed i Project Manager di tutta Italia si riuniranno per una giornata di approfondimenti tecnici sull’argomento DevOps. Le iscrizioni sono aperte e la partecipazione è gratuita. 
        
    </p>
    <p>
        L’evento è organizzato da Engage Labs S.r.l. e GetLatestVersion.it, ed ospiterà speaker di caratura internazionale.
    </p>
    
    <p>Non dimenticate lo hashtag <a href="https://twitter.com/hashtag/DOH23?f=live">#DOH23</a></p>
</div>
    <div>

        <img id="about-banner" src="./img/devops-heroes-banner 2.png"/>
    </div>    
    
    </div>