<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
    Sabato 21 Ottobre 2023 si terrà la conferenza DevOps Heroes, dove business leader e professionisti si incontrano per condividere le loro esperienze in termini di cultura di performance, innovazione, metodologia e agilità. In questa giornata potrai vedere come DevOps possa trasformare la tua azienda e prepararti per il futuro.  
</p>

<p itemprop="description">
    Noi crediamo che i DevOps Heroes siano professionisti che danno importanza fondamentale alla collaborazione ed al continuous learning. Un DevOps Hero è qualcuno in grado di facilitare la collaborazione tra sviluppatori, operation, e tutti gli altri attori coinvolti nel ciclo di vita del software; è anche chi sfrutta ogni opportunità per imparare e migliorare tenendosi al passo con nuove tecnologie, metodologie e strumenti.  
</p>

<p itemprop="description">
    Durante la giornata potrete sentire le storie di “eroi” in ambito DevOps che hanno implementato con successo pratiche e principi del mindset nelle loro aziende e dai loro clienti. Verranno condivisi insight e strategie che possono aiutarti a migliorare la collaborazione, efficientare i processi e accelerare l'innovazione e imparerete anche come creare una cultura di miglioramento continuo, fondamentale per rimanere all'avanguardia in un ambiente costantemente in cambiamento e sempre più competitivo.  
</p>

<p itemprop="description">
    Nel corso della conferenza avrete l'opportunità di conoscere e fare network con molti “eroi” del DevOps che, come te, lavorano per trasformare e migliorare il proprio team e la propria azienda applicando le metodologie di DevOps. 
</p>

<p itemprop="description">
    Cosa aspetti? Unisciti a noi e scopri come diventare un professionista in grado di colmare il gap tra tecnologia e business, e portare innovazione e successo nella tua azienda, in poche parole entrare a far parte dei DevOps Heroes 
</p>

<!--<p>
    L’evento è organizzato da Engage Labs S.r.l. e GetLatestVersion.it, ed ospiterà speaker di caratura internazionale.
</p> -->

<p>Non dimenticate lo hashtag <a href="https://twitter.com/hashtag/DOH23?f=live">#DOH23</a></p>


<section class="header">
    <div class="wrapper">
        <div class="call-action-area">

            {{ with .calltoaction }}
            <a href="{{ .link }}" class="call-action-link" target="_blank" title="{{ .text }}">{{ .text }}</a>
            {{ end }}
        </div>
    </div>
</section>