<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
    Sabato 21 Ottobre 2023 si terrà la conferenza <strong>DevOps Heroes</strong>, dove business leaders e
    professionisti si incontrano per imparare a creare una cultura di performance, innovazione e agilità.
    In questa giornata potrai vedere come DevOps possa trasformare la vostra azienda e preprarvi per il futuro.
</p>
<p>
    Noi crediamo che i <strong>DevOps Heroes</strong> siano professionisti che danno un gran peso alla collaborazione
    ed al continuos learning. Un DevOps Hero è qualcuno in grado di facilitare la collaborazione tra
    sviluppatori, operation, e tutti gli altri stakeholder coinvolti nel ciclo di vita del software; è
    anche qualcuno che sfrutta ogni opportunità per imparare e migliorare tenendosi al passo
    con nuove tecnologie, metodologie e tool.
</p>
<p>
    Durante la giornata potrete sentire le storie di eroi del DevOps che hanno implementato con successo pratiche
    DevOps nelle loro aziende. Verranno condivisi insight e strategie che possono aiutarvi a migliorare la
    collaborazione,
    efficentare i processi e accellerare l'innovazione e imparerete anche come creare una cultura di miglioramento
    continuo,
    fondamentale restare all'avanguardia in un ambiente sempre più competitivo.
</p>
<p>
    Nel corso della conferenza avrete l'opportunità di conoscere e fare network con molti eroi del DevOps che,
    come voi, lavorano per trasformare e migliorare il proprio team e la propria azienda applicando le metodologie
    di DevOps.</p>

<p>Cosa aspettate? Unitevi a noi e scoprite come diventare un professionista in grado di colmare il gap tra
    tecnologia e business e portare innovazione e successo alla vostra azienda, in poche parole entrare a far parte dei
    <strong>DevOps Heroes</strong>
</p>
<!--<p>
    L’evento è organizzato da Engage Labs S.r.l. e GetLatestVersion.it, ed ospiterà speaker di caratura internazionale.
</p> -->

<p>Non dimenticate lo hashtag <a href="https://twitter.com/hashtag/DOH23?f=live">#DOH23</a></p>


<section class="header">
    <div class="wrapper">
        <div class="call-action-area">

            {{ with .calltoaction }}
            <a href="{{ .link }}" class="call-action-link" target="_blank" title="{{ .text }}">{{ .text }}</a>
            {{ end }}
        </div>
    </div>
</section>