<h2 class="section-title">{{ .titles.sponsors }}</h2>

{{ with .sponsors }}
<ul class="sponsors-list">
  {{ range $sponsor := . }}
  {{ if eq .level "Premium" }}
  <li class="sponsor-item" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ .url }}" class="sponsor-premium-link" itemprop="url" target="_blank">
      <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
    </a>
  </li>
  {{ end }}
  {{ end }}
</ul>
<ul class="sponsors-list">
  {{ range $sponsor := . }}
  {{ if eq .level "Basic" }}
  <li class="sponsor-item" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ .url }}" class="sponsor-premium-link" itemprop="url" target="_blank">
      <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
    </a>
  </li>
  {{ end }}
  {{ end }}
</ul>
{{ else }}
<p>Comming soon...</p>

{{ end}}